
.about {
  border: solid;
  width: 100%;
}
.about .containerr {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1000px;
  margin: auto; 
  margin-left:20rem;
}
img{
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
}
.image {
  width: 100%; 
}

.text-about {
  width: 100%; 
}

.text-about h1 {
  font-size: 2rem; 
}

.text-about p {
  font-size: 1.5rem; 
}

.icon {
  font-size: 1.5rem; 
  margin-right: 1rem;
}

#polina {
  color: white;
  font-size: 1.2rem;
  position: relative;
}
.tech {
  font-size: 1.5rem;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #030303,
    0 0 42px rgb(0, 0, 0),
    0 0 82px rgb(0, 0, 0),
    0 0 92px rgb(3, 3, 3),
    0 0 102px rgb(0, 0, 0),
    0 0 151px rgb(0, 0, 0);
  text-align: center; 
}
.about h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 0.3rem;
}

.icon {
  font-size: 2rem;
  margin: 0 1rem; 
}




@media screen and (max-width: 900px) {
  .about .containerr {
    margin: auto;
    margin-top: 10rem;
    flex-direction: column-reverse;
    min-height: auto; 
    text-align: center;
  }
  img{
    position: relative;
    width: 80%;
  }
  
  #polina {
    width: 100%; 
    float: none; 
    left: 0;
    top: 0;
    padding: 1rem; 
  }
 
}



@media screen and (max-width : 654px) {
  .about-stack {
    width: 100%;
  }
  .about-stack {
    font-size: 3rem;
    border: solid;
    text-align: center;
  }
}




